{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">

    <h1>Räls</h1>
    <div class="row" id="root">
      <div class="col-md-6 col-md-offset-3" id="box">
        <form action="" id="rootSearch">
          <div class="form-group">
            <label for="from">Från</label>
            <input type="text" class="form-control input-lg typeahead" id="from" autofocus>
          </div>
          <div class="form-group">
            <label for="to">Till</label>
            <input type="text" class="form-control input-lg typeahead" id="to">
          </div>

          <label class="radio-inline">
            <input type="radio" name="timeSet" id="avg" value="avg" checked> Avgår
          </label>
          <label class="radio-inline">
            <input type="radio" name="timeSet" id="ank" value="ank"> Ankommer
          </label>

          <div class="row">
            <div class="col-md-7">
              <select class="form-control" id="day">
                {% for d in dates %}
                  <option value="{{ d.time }}">{{ d.display }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-5 form-inline">
              <label class="pull-right">
                Klockan:
                <input type="time" value="{{ date|date('H:i') }}" class="form-control" id="time">
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">Sök</button>
        </form>
      </div>
    </div>
  {#{{ form_start(form, { 'style': 'horizontal', 'label_col': 6, 'widget_col': 6 }) }}#}
  {#{{ form_widget(form) }}#}
  {#{{ form_end(form) }}#}
  </div>

{% endblock %}

{% block javascripts %}
<script>
  var makeComplete = function (query, syncResults, asyncResults) {
    console.log(query);

    var head = new Headers();
    head.append('x-token', '{{ csrf_token('api_place') }}');

    fetch('/api/place?query=' + query, {
      headers: head,
      credentials: 'include'
    })
    .then(function(resp) {
      return resp.json()
    })
    .then(function(resp) {
      asyncResults(resp);
    });
  };
  var from = $('.typeahead');
  from.typeahead({
        minLength: 2,
        highlight: false
      },
      {
        source: makeComplete,
        templates: {
          suggestion: function(data){
            return '<div>'+data.Name+'</div>';
          }
        },
        display: 'Name'
      });
  from.on('typeahead:select', function (e, data) {
    console.log(e);
    console.log(data);
    if (e.target.id === 'from') {
      sites.from = data;
    } else if (e.target.id === 'to') {
      sites.to = data;
    }
  });

</script>
{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    .twitter-typeahead {
      width: 100%;
    }
    .tt-menu {
      width: 100%;
      background-color: #cccccc;
    }
    .tt-suggestion {
      padding: 5px;
    }

    .tt-cursor {
      background-color: #a29aa0;
      color: #fff;
    }
    .tt-highlight {
      font-weight: 400;
    }
  </style>

{% endblock %}
