{% extends 'base.html.twig' %}

{% block body %}
  <div class="container">
    <div class="row" id="root">
      <div class="col-md-6 col-md-offset-3" id="box">
        <form action="" id="rootSearch">
          <div class="form-group">
            <label for="from">{% trans %}Från{% endtrans %}</label>
            <input type="text" class="form-control input-lg typeahead" id="from" autofocus>
          </div>
          <div class="form-group">
            <label for="to">{% trans %}Till{% endtrans %}</label>
            <input type="text" class="form-control input-lg typeahead" id="to">
          </div>

          <label class="radio-inline">
            <input type="radio" name="timeSet" id="avg" value="avg" checked> {% trans %}Avgår{% endtrans %}
          </label>
          <label class="radio-inline">
            <input type="radio" name="timeSet" id="ank" value="ank"> {% trans %}Ankommer{% endtrans %}
          </label>

          <div class="row">
            <div class="col-md-7">
              <select class="form-control" id="day">
                {% for d in dates %}
                  <option value="{{ d.time }}">{{ d.display }}</option>
                {% endfor %}
              </select>
            </div>
            <div class="col-md-5 form-inline">
              <label class="pull-right">
                <input type="time" value="{{ date|date('H:i') }}" class="form-control" id="time">
              </label>
            </div>
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">{% trans %}Sök{% endtrans %}</button>
        </form>
        <div id="history"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/typeahead.bundle.min.js') }}"></script>
  <script async src="{{ asset('leaflet/leaflet.js') }}"></script>
  <script src="{{ asset('js/lovefield.min.js') }}"></script>
  <script async src="{{ asset('js/moment-with-locales.min.js') }}"></script>
  <script src="{{ asset('js/Rels.min.js') }}"></script>
{% endblock %}

{% block stylesheets %}
  <style type="text/css">
    .twitter-typeahead {
      width: 100%;
    }
    .tt-menu {
      width: 100%;
      background-color: #cccccc;
    }
    .tt-suggestion {
      padding: 5px;
    }

    .tt-cursor {
      background-color: #a29aa0;
      color: #fff;
    }
    .tt-highlight {
      font-weight: 400;
    }
  </style>

{% endblock %}
